*.xlsx

# Do not save production test files to save space outside hapi.etica.ai
output-file.tm.hxl.csv
HXL-Data-Science-file-formats-main
schemam-un-htcds.tm.hxl.csv
resultatum/xliff-core-1.2.xsd
resultatum/xliff-core-1.2-strict.xsd
resultatum/tmx14.dtd
resultatum/xliff-core-1.2-transitional.xsd
resultatum/xliff_core_2.0.xsd

# TBXBasiccoreStructV02.dtd from http://www.ttt.org/oscarStandards/tbx/TBXBasic.zip
resultatum/TBXBasiccoreStructV02.dtd
resultatum/TBX-basic-samples.tbx

resultatum/hxltm-exemplum-linguam.xlf
resultatum/schemam-un-htcds_eng-Latn_por-Latn.hxl.csv
resultatum/schemam-un-htcds.tmx
resultatum/schemam-un-htcds.xlf
resultatum/schemam-un-htcds.xliff.hxl.csv
resultatum/hxltm-exemplum-linguam.xliff.hxl.csv
resultatum/schemam-un-htcds_eng-Latn--por-Latn.xlf
resultatum/schemam-un-htcds_eng-Latn--slk-Latn.xlf
resultatum/schemam-un-htcds_eng-Latn--por-Latn.obsoletum.xlf
resultatum/schemam-un-htcds_eng-Latn--slk-Latn.obsoletum.xlf

resultatum/schemam-un-htcds_eng-Latn--por-Latn.DONE.obsoletum.xlf
IATE_export--COM-Linguistics--formated.tbx
teste.csv
temp.csv
temp/

# pycallgraph-test.svg
# pycallgraph.png
# @see https://stackoverflow.com/questions/582336/how-can-you-profile-a-python-script
# *.svg
pycallgraph.png
