# Both libhxl and hug are strong requeriments
libhxl
hug

# numpy, while some programs on /bin do not require, is recommended
numpy

# Both pandas and orange3 are used on some tests
# TODO: make both pandas and orange3 optional
# pandas
# orange3

# TODO: consider implement xarray (sadly, requires pandas)