*.xlsx

# Do not save production test files to save space outside hapi.etica.ai
schemam-un-htcds.tm.hxl.csv
resultatum/schemam-un-htcds_eng-Latn_por-Latn.hxl.csv
resultatum/schemam-un-htcds.tmx
resultatum/schemam-un-htcds.xlf
